In [1]:
total = 0
for value in [3,2,19]:
    total += value
print('Total is :{0}'.format(total))

Total is :24

In [2]:
total = 0
for value in [2,3,19]:
    for weight in [3,2,1]:
        total += value*weight
print('Total is :{0}'.format(total))

Total is :144

In [3]:
# To compute the average value of a random variable that takes palce on the possible values 2,3, or 19
# with prob .2,.3,.5, zip() function can do that

In [5]:
total = 0
for value, weight in zip([2,3,19],
                         [0.2,0.3,0.5]):
    total += weight * value
print('Weighted average is: {0}'.format(total))

Weighted average is: 10.8

In [6]:
#String Formatting

In [9]:
import numpy as np
import pandas as pd

In [10]:
rng = np.random.default_rng(1)
A = rng.standard_normal((127,5))
M = rng.choice([0,np.nan], p = [0.8,0.2], size = A.shape)
A += M
D = pd.DataFrame(A, columns = ['food',
                               'bar',
                               'pickle',
                               'snack',
                               'popcorn'])
D[:3]

#Create a data fram D with columsn in which 20% of the entries are missing ie set to  np.nan

       food       bar    pickle     snack   popcorn
0  0.345584  0.821618  0.330437 -1.303157       NaN
1       NaN -0.536953  0.581118  0.364572  0.294132
2       NaN  0.546713       NaN -0.162910 -0.482119

In [11]:
for col in D.columns:
    template = 'Column "{0}" has {1:.2%} missing values'
    print(template.format(col,
    np.isnan(D[col]).mean()))

Column "food" has 16.54% missing values
Column "bar" has 25.98% missing values
Column "pickle" has 29.13% missing values
Column "snack" has 21.26% missing values
Column "popcorn" has 22.83% missing values

In [12]:
D

         food       bar    pickle     snack   popcorn
0    0.345584  0.821618  0.330437 -1.303157       NaN
1         NaN -0.536953  0.581118  0.364572  0.294132
2         NaN  0.546713       NaN -0.162910 -0.482119
3    0.598846       NaN       NaN -0.781908       NaN
4    0.008142 -0.275603  1.294064       NaN -2.711162
..        ...       ...       ...       ...       ...
122       NaN -1.421741  0.011192       NaN  0.128476
123  0.887647 -0.243649  0.730347  0.720844       NaN
124  1.716248  0.778838       NaN -0.680824 -0.845306
125  0.475867 -0.323722  2.729167  1.842448 -0.214524
126 -0.329131  1.690177 -1.883360 -0.451551  0.950757

[127 rows x 5 columns]